

{% extends "base.html" %}

{% block content %}
    <table class="table table-hover">
        <tr>
            <td width="256px"><img src="{{ user.avatar(256) }}"></td>
            <td>
                <h1>User: {{ user.username }}</h1>
            </td>
            <td>
                {% if current_user.is_admin() %}
                <p>
                    <form action="" method="post">
                    {{ form.hidden_tag() }}
                    <p>
                        {{ form.role.label }}
                        {{ form.role(size=32) }}<br>
                        {% for error in form.role.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <p>{{ form.submit() }}</p>
                </form>
                </p>
                {% endif %}
            </td>
        </tr>
    </table>
    {% for post in posts %}
        {% include '_post.html' %}
    {% endfor %}

{% endblock %}
